/* -------my var----*/
/*---end the var---*/
body {
  font-family: 'Aref Ruqaa', serif;
  font-family: 'Montserrat', Verdana,Geneva,sans-serif;
  height: 4000px;
  text-transform: capitalize;
  background: #FFF; }

p {
  color: #777777; }

/******over wrighting bootstrap *****/
.navbar-default {
  border-color: transparent;
  background-color: rgba(65, 63, 62, 0.3);
  padding-top: 0.66vw;
  padding-bottom: 0.66vw; }
  .navbar-default .navbar-brand {
    color: #fed136;
    font-size: 1.716vw;
    font-family: "Brush Script MT",cursive; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent; }

.navbar-toggle {
  padding: 0.594vw 0.66vw;
  margin-top: 1.32vw;
  margin-right: 0.99vw;
  margin-bottom: 0.528vw;
  border: 1px solid transparent;
  border-radius: 0.264vw; }

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e775; }

.carousel-inner > .item > img {
  min-width: 100vw; }

.carousel-inner .item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(65, 63, 62, 0.3);
  z-index: 200;
  top: 0;
  left: 0; }

.carousel-control {
  font-size: 1.32vw; }

/* start css coustem style header *****/
header .carousel-caption {
  position: absolute;
  top: 22.44vw;
  transform: translateY(-25%);
  padding: 0;
  z-index: 300; }
  header .carousel-caption h2 {
    font-size: 2.64vw;
    font-family: 'Playfair Display','Times New Roman',Times,Baskerville,Georgia,serif;
    margin-bottom: 2.64vw;
    margin-top: 2.64vw;
    letter-spacing: -1px;
    font-style: italic; }
  header .carousel-caption h3 {
    font-size: 4.95vw;
    margin-bottom: 2.64vw;
    margin-top: 2.64vw;
    letter-spacing: -2px;
    font-weight: bold; }
  header .carousel-caption button {
    outline: 0;
    border: none;
    width: 15.84vw;
    height: 4.29vw;
    border-radius: 0.198vw;
    background-color: #fed136;
    font-size: 1.188vw;
    font-weight: bold; }

/************** end header***************/
/********* start main body **************/
.main section:nth-child(even) {
  background: #f7f7f7; }
.main section h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 75px;
  font-weight: bold; }
.main section p.subTitle {
  color: #777777;
  font-size: 16px;
  font-style: italic; }

/********* end main body **************/
/* start  extend classes pleceholder */
header .carousel-caption h2, header .carousel-caption h3, .main section:nth-child(even), .main section h2, .main section p.subTitle {
  text-align: center; }

header .carousel-caption h3, header .carousel-caption button {
  text-transform: uppercase; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover, .navbar-toggle i, .navbar-default .navbar-nav > li > a, header .carousel-caption h2, header .carousel-caption h3, header .carousel-caption button {
  color: #fff; }

/*end  extend classes pleceholder */

/*# sourceMappingURL=main.css.map */
