/* -------my var----*/
$fontSizeFix: 0.66vw;
$mediaColor: #fed136;
$headColor: #fff;
$mainFontSize: 10px;
$layoutCover: rgba(65,63,62,.3);
/*---end the var---*/
body {
  font-family: 'Aref Ruqaa', serif;
  font-family: 'Montserrat', Verdana,Geneva,sans-serif;
  height: 4000px;
  text-transform: capitalize;
  background: #FFF;
  // font-size: $fontSizeFix * 1.6;
}

p {
  color: #777777;
}
/******over wrighting bootstrap *****/
.navbar-default {
  border-color: transparent;
  background-color: $layoutCover;
  padding-top: $fontSizeFix;
  padding-bottom: $fontSizeFix;

  .navbar-brand {
    color: $mediaColor;
    font-size: $fontSizeFix * 2.6;
    font-family: "Brush Script MT",cursive;

    &:hover {
      @extend %headerColor;
    }
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  @extend %headerColor;
  background-color: transparent;
}

.navbar-toggle {
  padding: $fontSizeFix * 0.9 $fontSizeFix;
  margin-top: $fontSizeFix * 2;
  margin-right: $fontSizeFix * 1.5;
  margin-bottom: $fontSizeFix * 0.8;
  border: 1px solid transparent;
  border-radius: $fontSizeFix * 0.4;

  i {
    @extend %headerColor;
  }
}

.navbar-default .navbar-nav > li > a {
  @extend %headerColor;
  text-transform: uppercase;
}
// .navbar-collapse {
//   // max-height: $fontSizeFix * 100 !important;
// }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e775;
}

.carousel-inner > .item > img {
  min-width: 100vw;
}

.carousel-inner .item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $layoutCover;
  z-index: 200;
  top: 0;
  left: 0;
}

.carousel-control {
  font-size: $fontSizeFix * 2;
}
/* start css coustem style header *****/

header .carousel-caption {
  position: absolute;
  top: $fontSizeFix * 34;
  transform: translateY(-25%);
  padding: 0;
  z-index: 300;

  h2 {
    @extend %headerColor;
    font-size: $fontSizeFix * 4;
    font-family: 'Playfair Display','Times New Roman',Times,Baskerville,Georgia,serif;
    margin-bottom: $fontSizeFix * 4;
    margin-top: $fontSizeFix * 4;
    letter-spacing: -1px;
    font-style: italic;
    @extend %textCenter;
  }

  h3 {
    @extend %headerColor;
    font-size: $fontSizeFix * 7.5;
    margin-bottom: $fontSizeFix * 4;
    margin-top: $fontSizeFix * 4;
    letter-spacing: -2px;
    font-weight: bold;
    @extend %textCenter;
    @extend %uppercase;
  }

  button {
    outline: 0;
    border: none;
    width: $fontSizeFix * 24;
    height: $fontSizeFix * 6.5;
    border-radius: $fontSizeFix * 0.3;
    background-color: $mediaColor;
    font-size: $fontSizeFix * 1.8;
    font-weight: bold;
    @extend %uppercase;
    @extend %headerColor;
  }
}
/************** end header***************/
/********* start main body **************/

.main {
  section {
    &:nth-child(even) {
      @extend %textCenter;
      background: #f7f7f7;
    }

    h2 {
      @extend %textCenter;
      color: #222222;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 75px;
      font-weight: bold;
    }

    p.subTitle {
      @extend %textCenter;
      color: #777777;
      font-size: 16px;
      font-style: italic;
    }
  }
}
/********* end main body **************/
/* start  extend classes pleceholder */

%textCenter {
  text-align: center;
}

%uppercase {
  text-transform: uppercase;
}

%headerColor {
  color: $headColor;
}
/*end  extend classes pleceholder */