/* -------my var----*/
$fontSizeFix: 0.66vw;
$mediaColor: #fed136;
$headColor: #fff;
$mainFontSize: 10px;
$layoutCover: rgba(34,34,34,.4);
/*---end the var---*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Aref Ruqaa', serif;
  font-family: 'Montserrat', Verdana,Geneva,sans-serif;
  height: 4000px;
  text-transform: capitalize;
  background: #FFF;
  // font-size: $fontSizeFix * 1.6;
}

a {
  text-decoration: none;
}

p {
  color: #777777;
}
/******over wrighting bootstrap *****/

.navbar-default {
  border-color: transparent;
  background-color: $layoutCover;
  padding-top: $fontSizeFix;
  padding-bottom: $fontSizeFix;

  .navbar-brand {
    color: $mediaColor;
    font-size: $mainFontSize* 2.6;
    font-family: "Brush Script MT",cursive;

    &:hover {
      @extend %headerColor;
    }
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  @extend %headerColor;
  background-color: transparent;
}

.navbar-toggle {
  padding: $fontSizeFix * 0.9 $fontSizeFix;
  margin-top: $fontSizeFix * 2;
  margin-right: $fontSizeFix * 1.5;
  margin-bottom: $fontSizeFix * 0.8;
  border: 1px solid transparent;
  border-radius: $fontSizeFix * 0.4;

  i {
    @extend %headerColor;
  }
}

.navbar-default .navbar-nav > li > a {
  @extend %headerColor;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: $mediaColor;
}
// .navbar-collapse {
//   // max-height: $fontSizeFix * 100 !important;
// }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e775;
}

.carousel-inner {
  background: #000;
}

.carousel-inner > .item > img {
  min-width: 100vw;
  opacity: 0.6;
}

.carousel-inner .item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $layoutCover;
  z-index: 200;
  top: 0;
  left: 0;
}

.carousel-control {
  font-size: $fontSizeFix * 2;
}
/* start css coustem style header *****/
header .carousel-caption {
  position: absolute;
  top: $fontSizeFix * 34;
  transform: translateY(-25%);
  padding: 0;
  z-index: 300;

  h2 {
    @extend %headerColor;
    font-size: $fontSizeFix * 4;
    font-family: 'Playfair Display','Times New Roman',Times,Baskerville,Georgia,serif;
    margin-bottom: $fontSizeFix * 4;
    margin-top: $fontSizeFix * 4;
    font-style: italic;
    @extend %textCenter;
  }

  h3 {
    @extend %headerColor;
    font-size: $fontSizeFix * 7.5;
    margin-bottom: $fontSizeFix * 4;
    margin-top: $fontSizeFix * 4;
    font-weight: bold;
    @extend %textCenter;
    @extend %uppercase;
  }

  button {
    outline: 0;
    border: none;
    width: $fontSizeFix * 24;
    height: $fontSizeFix * 6.5;
    border-radius: $fontSizeFix * 0.3;
    background-color: $mediaColor;
    font-size: $fontSizeFix * 1.8;
    font-weight: bold;
    @extend %uppercase;
    @extend %headerColor;
  }
}
/************** end header***************/
/********* start main body **************/

.paddingTop {
  padding-top: 30px;
}

.main {
  section {
    padding-top: 100px;
    padding-bottom: 100px;

    img {
      width: 100%;
      min-height: 100%;
    }

    .descript-pro {
      background: #fff;
      border: 1px solid transparent;

      p {
        margin-bottom: 15px;
        margin-top: 5px;
      }
    }

    h4 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 18px;
      letter-spacing: 0;
      color: #222222;
      font-weight: bold;
      text-align: center;
    }

    p {
      margin-bottom: 0;
      margin-top: 15px;
      font-size: 14px;
      letter-spacing: 0;
      color: rgb(119,119,119);
      text-align: center;
    }

    &:nth-child(even):not(:last-child) {
      @extend %textCenter;
      background: #f7f7f7;
    }

    h2 {
      @extend %textCenter;
      color: #222222;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: -1px;
      font-weight: bold;
      margin-top: 0;
    }

    p.subTitle {
      @extend %textCenter;
      color: #777777;
      font-size: 16px;
      font-style: italic;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    .paddingBottom {
      padding-bottom: 50px;
    }

    .row {
      @extend %textCenter;

      .icon {
        display: inline-flex;
        width: 66px;
        height: 66px;
        border-radius: 33px;
        background-color: #ffffff;
        border: 3px solid #fdd135;

        &:hover {
          background: #fdd135;
          transition: 0.5s;
        }

        &:hover .shp0 {
          fill: #fff;
          transform: rotate(360deg);
          transition: 0.5s;
        }

        svg {
          margin: auto;
          fill: #fdd135;
        }
      }
    }
  }

  .about {
    margin-bottom: 60px;

    div:not(:last-child) {
      margin-bottom: 60px;
    }

    h4,
    p {
      text-align: right;
    }

    .row:nth-child(even) h4,
    .row:nth-child(even) p {
      text-align: left;
    }

    .imgStory {
      display: inline-block;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background: #f00;
    }
  }

  .ourTeam {
    a {
      text-decoration: none;
    }

    .thumbnail {
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
    }

    p {
      margin-bottom: 15px;
    }
  }

  .teamContact {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f9f9f9;
    border: 3px solid #212121;
    color: #212121;

    i {
      margin: auto;
      font-size: 18px;
    }
  }

  .teamDescript {
    margin-top: 60px;
    font-size: 16px;
    letter-spacing: 0;
    color: rgb(119,119,119);
    font-family: "Roboto Slab";
    text-align: center;
  }

  .facebook:hover {
    color: #fff;
    background: #3b5998;
    border: none;
  }

  .twitter:hover {
    color: #fff;
    background: #00aced;
    border: none;
  }

  .codepen:hover {
    color: #fff;
    background: #212121;
    border: none;
  }

  .tecnologic {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

section:last-child {
  background: #000 url("../img/map.svg") 850px;

  h2 {
    color: #fff;
  }
}
/********* end main body **************/
/*****footer*********************************************/

.footer {
  margin-top: 25px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 10px;
    padding-top: 10px;
    color: #555555;
  }

  span {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;

    i {
      margin: auto;
      font-size: 24px;
    }
  }

  .facebook:hover {
    color: #fff;
    background: #3b5998;
    border: none;
  }

  .twitter:hover {
    color: #fff;
    background: #00aced;
    border: none;
  }

  .codepen:hover {
    color: #fff;
    background: #212121b8;
    border: none;
  }

  .github:hover {
    color: #fff;
    background: #F05033;
    border: none;
  }
}
/* start  extend classes pleceholder */
%textCenter {
  text-align: center;
}

%uppercase {
  text-transform: uppercase;
}

%headerColor {
  color: $headColor;
}
/*end  extend classes pleceholder */
/********** start media *************/
@media(max-width:768px) {
  .main {
    .about {
      h4,
      p {
        text-align: center !important;
      }
    }
  }
}
@media(max-width:990px) {
  .main {
    .about {
      .row:nth-child(even) h4,
      .row:nth-child(even) p {
        text-align: right;
      }
    }
  }
}